
/* float text around image */
#hp_float_image  {
    float: left;    
    margin: 0 15px 0 0;
 
}

.home_button {
  background-color: #20b2aa;
  color:  white;
  padding:  10px;
  font-size: 25px;
} 

h3 {
    color: #20b2aa;
}